.footer {
	font-size: smaller;
	padding: 10px; /* use em */
	text-align: center;
}

.page-title {
	font-size: x-large;
	text-align: center;
	vertical-align: center;
}

.content-corners .ui-bar {
	-webkit-border-top-left-radius: inherit;
	border-top-left-radius: inherit;
	-webkit-border-top-right-radius: inherit;
	border-top-right-radius: inherit;
}

.content-corners .ui-body {
	border-top-width: 0;
	-webkit-border-bottom-left-radius: inherit;
	border-bottom-left-radius: inherit;
	-webkit-border-bottom-right-radius: inherit;
	border-bottom-right-radius: inherit;
}

.small-content-panel {
	width: 30em;
	margin: auto;
	padding: 2em;
}

.quiz-content {
	width: 35em;
	margin: auto;
}

.login-form {
	padding: 2em;
	text-align: center;
}

.login-submit-btn {
	margin-top: 2em;
}

.input-label {
	padding-top: 1em;
}

.form-error {
	font-size: smaller;
	font-weight: bold;
	color: red;
}

.main-page-slider-wrapper {
	max-width: 50em;
	margin: auto;
	padding-top: 2em;
}

.hint-quiz {
	display: none;
	margin: auto;
	width: 75%;
	border-color: #2C8B26;
	border-style: solid;
	background-color: #99FCA2;
	padding: 0.5em;
	border-width: thin;
}

.quiz-answer {
	border-color: rgb(119, 113, 113);
	border-style: solid;
	background-color: #C0DCFF;
	padding: 0.5em;
	border-width: thin;
}

.quiz-explanation {
	border-color: rgb(119, 113, 113);
	border-style: solid;
	background-color: #C0DCFF;
	padding: 0.5em;
	border-width: thin;
	font-size: smaller;
	font-style: italic;
}

.quiz-wrong {
	background-color: #FDB0BF;
	border-color: #FF0A0A;
}

.quiz-correct {
	background-color: #99FCA2;
	border-color: #2C8B26;
}

.debugging-info {
	font-size: smaller;
	font-style: italic;
}