hr {
	 border: 0;
    border-bottom: 1px dashed #ccc;
    background: #000;
}

.page-title {
	font-size: x-large;
	text-align: center;
	vertical-align: center;
}

.content-corners .ui-bar {
	-webkit-border-top-left-radius: inherit;
	border-top-left-radius: inherit;
	-webkit-border-top-right-radius: inherit;
	border-top-right-radius: inherit;
}

.content-corners .ui-body {
	border-top-width: 0;
	-webkit-border-bottom-left-radius: inherit;
	border-bottom-left-radius: inherit;
	-webkit-border-bottom-right-radius: inherit;
	border-bottom-right-radius: inherit;
}

.small-content-panel {
	width: 30em;
	margin: auto;
	padding: 2em;
}

.quiz-content {
	width: 35em;
	margin: auto;
}

.login-form {
	padding: 2em;
	text-align: center;
}

.login-submit-btn {
	margin-top: 2em;
}

.input-label {
	padding-top: 1em;
}

.form-error {
	font-size: smaller;
	font-weight: bold;
	color: red;
}

.main-page-slider-wrapper {
	width: 70%;
	margin: 0 auto;
	padding-top: 2em;
	overflow: hidden;
}

.hint-quiz {
	color: #FFFFFF;
	text-shadow: none;
	display: none;
	margin: auto;
	max-width: 50em;
	border-color: #CE1127;
	border-style: solid;
	background-color: #CE1127;
	padding: 0.5em;
	border-width: thin;
}

.quiz-answer {
	border-color: rgb(194, 196, 196);
	border-style: solid;
	background-color: rgba(194, 196, 196, 0.6);
	padding: 0.5em;
	border-width: thin;
}

.quiz-explanation {
	border-color: rgb(194, 196, 196);
	border-style: solid;
	background-color: rgba(194, 196, 196, 0.6);
	padding: 0.5em;
	border-width: thin;
	font-size: smaller;
}

.quiz-wrong {
	background-color: rgba(206, 17, 39, 0.5);
	border-color: #CE1127;
	text-shadow: none;
}

.quiz-correct {
	background-color: rgba(0, 104, 71, 0.5);
	border-color: #2C8B26;
	text-shadow: none;
}

.debugging-info {
	font-size: smaller;
	font-style: italic;
}

.content-wrapper {
	padding: 1em;
	width: 80%;
	margin: 0 auto;
}

.recipe-image {
	width: 15em;
	float: left;
	margin-top: 1.5em;
	margin-left: 0.75em;
}

.recipe-header {;
	margin-left: 17em;
}

.recipe-ingredients {
	margin-top: 1em;
	margin-bottom: :1em;
}

.tbl-ingredients {
	margin-left: 1em;
}

.feedback-left {
	width: 30%;
	float: left;
}

.feedback-right {
	width: 30%;
	float: right;
}

.feedback-middle {
	margin-left: 37%;
	margin-right: 37%;
}

.feedback-2-left {
	width: 49%;
	float: left;
}

.feedback-2-right {
	width: 49%;
	float: right;
}

.wrapper {
	overflow: hidden;
	margin-bottom: 1em;
	padding-left: 0.25em;
	padding-right: 0.25em;
}

.preview-img {
	width: 95%;
	margin: 0 auto;
}

.underlayer {
	position: relative;
}

.overlayer {
	background: #FAF3F3;
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0.75;
	z-index: 10;
	padding-top: 3em;
}

.knowledge-header{
	display: table;
	margin: 0 auto;
}

#knowledgetopics li {
	display: inline;
	list-style-type: none;
	padding-left: 10px;
	padding-right: 10px;
	display:table-cell;
	text-align: center;
}

#knowledgetopics img {
	max-width:100%;
	max-height:100px;
}

.knowledgetopics-ingredients li {
	display: inline;
	list-style-type: none;
	padding-left: 10px;
	padding-right: 10px;
	display:table-cell;
	text-align: center;
}

.knowledgetopics-ingredients img {
	max-width:100%;
	max-height:100px;
}

.knowledge-body{
	margin-top: 5em;
	text-align: justify;
}

.knowledge-chapter-image{
	float:left;
	padding-right: 1em;
	padding-bottom: 1em;
}

.knowledge-article-chapter{
	clear:left;
	padding-top:20px;
}

.knowledge-chapter-header {
	overflow: overlay;
}

.knowledge-dish-header{
	color:#006847;
}

.knowledge-dishes-td-left{
	width:50%;
	padding-right:1em;
}
.knowledge-dishes-td-right{
	width:50%;
	padding-left:1em;
}

.ingr-highlight {
	font-weight: bold;
}

#detailPopup {
	right: 10% !important;
	left: 10% !important;
	width: 80% !important;
}

.float-right {
	float: right;
}
.float-left {
	float: left;
}
.float-clear {
	clear: both;
}

.btn-toggle {
	margin-top: 1em;
	margin-bottom: 1em;
	width: 8em;
	max-width: 10em;
}

.coc-btn {
	max-width: 65%;
	width: 17.5em;
	margin: 0 auto;
	margin-bottom: 0.35em;
}

div.nav-img-header {
	height: 9em;
	margin-bottom: 1.875em;
}

img.nav-img-header {
	width: 100%;
	height: auto;
}

#navpanel {
	padding-top: 0;
}

a.ui-link {
	color: #006847!important;
}
a:visited.ui-link {
	color: #006847!important;
}
a:hover.ui-link {
	color: #006847!important;
}
.ui-link {
	color: #006847;
}

.pgwSlider a {
	text-shadow: none;
	color: #FFFFFF!important;
}
.pgwSlider a:visited {
	text-shadow: none;
	color: #FFFFFF!important;
}
.pgwSlider a:hover {
	text-shadow: none;
	color: #FFFFFF!important;
}
.pgwSlider b {
	font-size: x-large;
}

.info-slider-wrapper {
	width: 70%;
	margin: 0 auto;
	text-shadow: none;
}

.ingred-table-button {
	padding-top: 2em;
}

.popup-coc {
	min-width: 35em;
}
.popup-content {
	text-align: center;
	overflow: hidden;
	background: #fff;
}

#recipe-filter-tbl {
	max-width: 35em;
	min-width: 20em;
	margin: 0 auto;
}

#recipe-list-tbl {
	width: 90%;
	margin: 0 auto;
}

img.recipe-list-preview {
	height: 4em;
	width: 5em;
}

#ranking-tbl-wrapper {
	width: 50%;
	margin: 0 auto;
}

#popup-animation-popup.ui-popup-container {
	width: 820px;
}

.animation-slider-wrapper {
	border: 0;
	padding: 0px 5px;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	overflow: hidden;
}

ul.animation-slider {
	-webkit-padding-start: 0px;
	-webkit-margin-before: 0;
	margin-top: 0px;
	padding-left: 0px;
}

textarea {
	height: auto !important
}