<?xml version='1.0' encoding='utf-8'?>
<widget id="de.uniwue.elearn.cocina" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>CocinaMexicana</name>
    <description>
        A sample app for elearning lecture on uni wuerzburg.
    </description>
    <author email="handwerker.thomas@gmail.com" href="http://www.uni-wuerzburg.de">
        Cocina Mexicana Team
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
